@import "tailwindcss";
@plugin "tailwindcss-animate";

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}

body, html {
	background-color: #121720;
	color: #F9FAFC;
}

input, input::placeholder, th {
	color: #abb0ba;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	@apply bg-transparent;
}

::-webkit-scrollbar-thumb {
	@apply bg-blue-500/70 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-blue-500/90;
}
